.logo-body{
    width: 100%;
    height: 576px;
    background-color: rgb(54, 156, 54);
    padding-bottom: 10%;
}

.logo{
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 20px;
}

.cartbox{
    width: 50%;
    height: 350px;
    background-color: white;
    margin-left: 24%;
    margin-top: -1%;
    position: relative;
    box-shadow: 5px 5px 5px rgb(19, 54, 19);
    border-radius: 25px;
}

.box{
    padding-top: 10%;
    font-size: 20px;
    color: grey;
}

#email{
    margin-left: 10%;
    width: 68%;
    height: 30px;

}

#user{
    margin-left: 4%;
    width: 68%;
    height: 30px;
}

.regbutton{
    background-color:  rgb(54, 156, 54);
    border: 0px;
    color: white;
    width: 50%;
    height: 40px;
    margin-top: 10%;
    margin-left: 25%;
    font-size: larger;
}

.box1{
    width: 70%;
    margin-left: 12%;
}

.box2{
    width: 70%;
    margin-left: 12%;
}